* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #001f3f;
  font-family: sans-serif;
  color: aliceblue;
  margin: 20px;
  
  
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  max-height: 100vh;
  height: 100%;
}

header {
  grid-column: 1 / 4;
  place-self: center center;
}

.home,
.appstore,
.playstore { 
  place-self: center center;
  height: 10px;
}

.img {
  max-width: 100%;
  grid-column: 1 / 4;
  width: 400px;
  place-self: center center;
}

.intro {
  grid-column: 1 / 4;
  place-self: center center;
  text-align: justify;
  max-width: 500px;
}


.start {
  grid-column: 1 / 4;
  place-self: center center;
}

